html, body {
  box-sizing: border-box;
  background: #f5f5f5;
}

a, a:hover, a:visited, a:focus {
  text-decoration: unset;
  color: unset;
}

.posts-div {
  width: 65%;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 0px 3px 0px black;
  margin-bottom: 20px;
  background: white;
  
}
.posts-div .post-container {
  padding: 20px;
  padding-bottom: 5px;
}

.post-container span {
  color: #7b7b7b;
}

.post-body {
  background-color: #f3f3f3;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px black;
}

.posts-div:not(.singlepost){
  transition: transform 0.2s;
}

.posts-div:not(.singlepost):hover {
  transform: scale(1.025);
}

.posts-title {
  text-transform: capitalize;
  font-weight: 600;
  color: black;
}

.text-capitalize {
  text-transform: capitalize;
}

#search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#search-box .search-box-div {
  height: 40px;
  position: relative;
  width: 45%;
}

.search-box-div input {
  background-color: white;
  border: 0;
  box-sizing: border-box;
  color: black;
  font-size: 15px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  box-shadow: 0px 0px 5px 0px black;
}

.search-box-div label {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 5px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
  font-size: 14px;
}

.search-box-div input:focus ~ label,.search-box-div input.has-content ~ label {
  transform: translateY(-40px) translateX(-15px) scale(0.75);
  background-color: #000000ba;
  color: white;
  padding: 10px;
  box-shadow: -1px -2px 7px 0px #00000061;
}

.up-svg svg{
  transform: rotate(180deg);
  color: white;
  width: 20px;
  height: 20px;
}

.down-svg svg{
  transform: rotate(0deg);
  width: 20px;
  height: 20px;
}

.show-more-span {
  vertical-align: middle;
}

.comments-list {
  display: none;
  background: whitesmoke;
  border-radius: 7px;
  box-shadow: 0px 0px 2px black;
}

.comments-list.show {
  display: block;
}

.comments {
  padding: 5px 15px;
  text-align: justify;
  font-size: 14px;
}

.comments p {
  padding: 10px;
  margin: 0px;
  border-bottom: 1px solid rgba(75, 74, 74, 0.74);
}

.comments-list .comments:last-of-type p{
  border-bottom: none;
}

#App-component {
  padding: 50px;
}

.link-back-to, .show-more-button {
  background-color: rgb(8 8 85 / 82%);
  padding: 10px 15px;
  color: white!important;
  box-shadow: 0px 0px 5px 2px #b8aca1;
  display: inline-block;
  margin-bottom: 10px;
  outline: unset;
  border: none;
  cursor: pointer;

}

.link-back-to:hover, .show-more-button:hover, .show-more-button.clicked {
  background-color:rgb(6, 6, 66);
}

.show-more-button > * {
  pointer-events: none;
}

.loader {
  box-shadow: 0px 0px 3px black;
  border: 16px solid #ffffff;
  border-top: 16px solid rgb(8 8 85 / 82%);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}