.App {
  text-align: center;
}

a, a:hover, a:visited, a:focus {
  text-decoration: unset;
  color: unset;
}

.posts-div {
  width: 65%;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 0px 3px 0px black;
  margin-bottom: 20px;
  background: linen;
  
}
.posts-div .post-container {
  padding: 20px;
}

.post-container span {
  color: #7b7b7b;
}

.posts-div:not(.singlepost){
  transition: transform 0.2s;
}

.posts-div:not(.singlepost):hover {
  transform: scale(1.025);
}

.posts-title {
  text-transform: capitalize;
  font-weight: 400;
  color: black;
}

.text-capitalize {
  text-transform: capitalize;
}

#search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#search-box .search-box-div {
  height: 40px;
  position: relative;
  width: 45%;
}

.search-box-div input {
  background-color: white;
  border: 0;
  box-sizing: border-box;
  color: black;
  font-size: 15px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  box-shadow: 0px 0px 5px 0px black;
}

.search-box-div label {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 5px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
  font-size: 14px;
}

.search-box-div input:focus ~ label,.search-box-div input:valid ~ label {
  transform: translateY(-40px) translateX(-15px) scale(0.75);
  background-color: #000000ba;
  color: white;
  padding: 10px;
  box-shadow: -1px -2px 7px 0px #00000061;
}

.up-svg svg{
  transform: rotate(180deg);
  color: #131314;
}

.down-svg svg{
  transform: rotate(0deg);
  color: rgb(8, 8, 85);
}

.show-more-span {
  vertical-align: middle;
}

.show-more-button{
  border: none;
  background-color: unset;
  outline: unset;
  cursor: pointer;
}

.show-more-button > * {
  pointer-events: none;
}

.show-more-button.clicked {
  color: rgb(8, 8, 85); 
}

.show-more-button:after {
  display:block;
  content: '';
  border-bottom: solid 3px rgb(8, 8, 85); 
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.show-more-button:hover:after { 
  transform: scaleX(1); 
}

.show-more-button:hover {
  color: rgb(8, 8, 85); 
  font-weight: 600;
}


.comments-list {
  display: none;
}

.comments-list.show {
  display: block;
}

.comments {
  border-bottom: 1px solid black;
  padding: 5px 25px;
  text-align: justify;
  font-size: 15px;
  padding: 10px;
}

.comments-list .comments:last-of-type {
  border-bottom: none;
}

#App-component {
  padding: 50px;
}

.link-back-to {
  background-color: rgb(8 8 85 / 82%);
  padding: 10px 15px;
  color: white!important;
  box-shadow: 0px 0px 5px 2px #b8aca1;
}

.link-back-to:hover {
  background-color:rgb(8, 8, 85);
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #243652;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}